@mixin headerTriangle {
  position: absolute;
  top: -9px;
  right: -65px;
  content: ' ';
  display: block;
  background-image: url('/img/diamond.svg');
  background-repeat: no-repeat;
  background-size: 130px 130px;
  height: 130px;
  width: 130px;
}