.about {
  .description {
    position: relative;
    p a {
      text-transform: none;
      color: white;
      border-bottom: 1px solid #29F6EB;
    }
    p:last-of-type {
      padding-bottom: 20px;
    }
    .blue-button {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  ul {
    li {}
  }
}