html,
body {
  font-size: 16px; //base
}

section {
  margin-bottom: 3rem;
  p {
    font-size: .8rem;
    color: white;
    font-weight: 200;
    padding: 12px 16px 0 12px;
    &:last-child {
      padding-bottom: 12px;
    }
  }
  .description {
    position: relative;
    padding-bottom: 12px;
    border-left: 4px solid $neongreen;
    background: $background-text-blue;
    &:after {
      @include headerTriangle();
      background-size: 96px auto;
      right: -48px;
      height: 96px;
      width: 96px;
    }
  }
  .content {
    margin-top: 30px;
    border-top: 3px solid $neongreen;
    border-left: 1px solid $neongreen;
    max-width: 95%;
    .pink-subtitle {
      max-width: 30%;
      padding-left: 10%;
    }
    &.last {
      margin: 0;
      min-height: 400px;
    }
  }
}

.green-title {
  background: $neongreen;
  font-family: 'Space Mono', 'Courier New', serif;
  color: $background-text-blue;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 8px 12px;
}

.pink-subtitle {
  background: $neonpink;
  color: white;
  font-family: 'Work Sans', 'Courier New', serif;
  font-size: .85rem;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 8px 12px;
}