html,
body {
  font-size: 16px; //base
}

.wrapper {
  margin: 0 auto;
}

.green-title {
  background: $neongreen;
  font-family: 'Space Mono', 'Courier New', serif;
  color: $background-text-blue;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 8px 12px;
}

.pink-subtitle {
  background: $neonpink;
  color: white;
  font-family: 'Work Sans', 'Courier New', serif;
  font-size: .95rem;
  font-weight: 400;
  padding: 8px 30px;
  display: inline-block;
}

.icon {
  border: 1px solid $neoncyan;
  background: $iconblue;
  font-size: 1.5rem;
  color: white;
  display: inline-block;
}

section {
  margin-bottom: 3rem;
  p {
    font-size: .8rem;
    color: white;
    font-weight: 200;
    padding: 12px 16px 0 12px;
    &:last-child {
      padding-bottom: 12px;
    }
  }
  .description {
    position: relative;
    padding-bottom: 12px;
    border-left: 3px solid $neongreen;
    border-right: 1px solid $neongreen;
    background: $background-text-blue;
    &:after {
      @include headerTriangle();
      background-size: 96px auto;
      right: -48px;
      height: 96px;
      width: 96px;
    }
    .pink-subtitle {
      display: block;
      padding: 8px 12px;
    }
  }
  .content {
    border-top: 1px solid $neongreen;
    border-right: 1px solid $neongreen;
    &.last {
      margin: 0;
      min-height: 400px;
    }
    .pink-subtitle {
      padding-left: 30px;
    }
  }
}