.contact {
  position: relative;
  p a {
    @include inlineLink();
  }
  form {
    background: $background-text-blue;
    input,
    textarea {
      display: block;
      width: 100%;
      padding: 10px;
      border: 0;
      border-bottom: 1px solid $neongreen;
      background: none;
      color: white;
    }
    textarea {
      margin: 10px 0 10px 0;
      padding: 10px 0 10px 10px;
      overflow: hidden;
    }
    fieldset {
      &.message {
        display: block;
      }
      display: inline-block;
      margin-right: 3%;
    }
    button {
      position: absolute;
      right: 0;
      bottom: 0;
      border-style: none;
    }
    .sender-email,
    .sender-name {
      display: inline-block;
      width: auto;
    }
  }
}