.contact {
  position: relative;
  p a {
    @include inlineLink();
  }
  form {
    background: $background-text-blue;
    height: 1px;
    input,
    textarea {
      display: block;
      width: 80%;
      padding: 10px;
      border: 0;
      border-bottom: 1px solid $neongreen;
      background: none;
      color: white;
      font-family: 'Roboto Mono', monospace;
    }
    textarea {
      width: 94%;
      margin: 10px 0 10px 0;
      padding: 10px 0 10px 10px;
      overflow: hidden;
      font-family: 'Roboto Mono', monospace;
    }
    fieldset {
      &.message {
        // display: block;
      }
      // display: inline-block;
    }
    button {
      position: absolute;
      right: 0;
      bottom: 0;
      border-style: none;
    }
    .sender-email,
    .sender-name {
      display: inline-block;
    }
  }
  .hide-me {
    display: none;
  }
  .contact-bot-messages {
    overflow: hidden;
    min-height: 100px;
    background: $background-text-blue;
    padding: 10px;
    p {
      padding: 5px;
      color: White;
      font-weight: 500;
    }
    input,
    textarea {
      display: inline-block;
      // width: 95%;
      background: none;
      border: none;
      border-bottom: 1px solid $neongreen;
      padding: 5px;
      color: $neongreen;
      font-weight: 200;
    }
    button {
      background: none;
      color: $neongreen;
      border: none;
    }
  }
}