footer {
  background: $background-text-blue;
  border-top: 1px solid $neongreen;
  p a {
    @include inlineLink();
  }
  .socials {
    background: $background-text-blue;
    width: 100%;
    .icon {
      font-size: 1.1rem;
    }
    .copyrights {
      padding: 10px;
      p {
        color: white;
        font-size: .6rem;
      }
    }
    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      padding: 10px;
      @include mobile {
        display: block;
      }
      li {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-right: 15px;
        @include mobile {
          margin: 5px 0;
        }
      }
      p {
        text-transform: none;
        padding: 3px 6px;
        color: white;
        font-size: .8rem;
      }
    }
  }
}