.hero {
  padding: 10%;
  background: url('/img/toronto-ferdinand-stohr.jpg') no-repeat;
  background-size: cover;
  .name {
    background: $neonpink;
    width: 600px;
    position: relative;
    &:after {
      @include headerTriangle();
    }
  }
  .intro {
    width: 600px;
    position: relative;
    .columns,
    .column {
      padding: 0;
      margin: 0;
    }
    .intro-pic {
      height: 200px;
      background: url('https://unsplash.it/300/300') no-repeat;
      background-size: cover;
    }
    .intro-blurb {
      border-left: 4px solid $neongreen;
      background: none;
      p {
        background: rgba(13, 36, 53, 0.5);
        color: white;
        padding: 2% 3%;
        font-size: .85rem;
      }
      nav {
        max-height: 350px;
        ul {
          display: flex;
          flex-direction: row;
        }
        li {
          margin: 5px;
          //probably flex this...
          // just stack the nav left to right
        }
      }
    }
  }
}