.hero {

  position: relative;
  overflow: hidden;
  height: 100vh;
  @include mobile {
    @include landscape {
      min-height: 450px;
    }
  }
  .left-side{
    background: url('/img/toronto-ferdinand-stohr.jpg') no-repeat;
    background-size: cover;
  }
  .right-side{
    background:$background-dark-blue;
    padding: 5%;
    flex-direction: column;
  }
  .column{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .name {
    background: $neonpink;
    position: relative;
    .glitch:after {
      @include mobile {
        left: 1.5vw;
        top: 1vh;
        width: 85%;
        height: 200px;
        @include landscape {
          top: 3vh;
        }
      }
    }
  }
    .intro-pic {
      height: 200px;
      background: url('/img/PAM_8933.png') no-repeat;
      background-size: cover;
      @include mobile {
        background-size: contain;
        height: 200px;
        width: auto;
        @include landscape {
          height: 100px;
        }
      }
    }
    .intro-blurb {
      padding: 10%;
      background: none;
      p {
        background: rgba(13, 36, 53, 0.8);
        color: white;
        padding: 2% 3%;
        font-size: .85rem;
      }
      nav {
        max-height: 350px;
        ul {
          display: flex;
          flex-direction: row;
          @include mobile {
            flex-wrap: wrap;
          }
        }
        li {
          margin: 5px;
          //probably flex this...
          // just stack the nav left to right
        }
      }
    }
  .description {
    position: relative;
    p a {
      text-transform: none;
      color: white;
      border-bottom: 1px solid #29F6EB;
    }
    p:last-of-type {
      padding-bottom: 20px;
    }
    .blue-button {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  ul {
    li {}
  }
}