.hero{
    min-height: 500px;
    padding: 10% 5%;
    background: url('/img/toronto-ferdinand-stohr.jpg') no-repeat;
    background-size: cover;
    h1{
        font-size:5rem;
        font-family: 'Space Mono', 'Courier New', serif;
        text-transform: uppercase;
        padding: 5%;
        color: white;
        position: relative;
        max-width: 400px;
        
    }
    .name{
        background: $neonpink;
        width: 600px;   
        position: relative;
        &:after{
            position: absolute;
            top:-10px;
            right:-65px;
            content:' ';
            display: block;
            background-image: url('/img/diamond.svg');
            background-size: 130px 130px;
            height: 130px;
            width: 130px;
        }
    }
    .intro{
        width: 600px;
        position: relative;
        .columns, .column{
            padding: 0;
            margin: 0;
        }
        .intro-pic{
            height:200px;
            background: url('https://unsplash.it/300/300') no-repeat;
            background-size: cover; 
        }
        .intro-blurb{
         border-left: 4px solid $neongreen;
         background: none;
            p{
             background: rgba(13,36,53,0.5) ;
             color: white;
             padding: 2% 3%;
            }   
            nav{
                max-height: 350px;
                li{
                    height: 50px;
                    //probably flex this...
                    
                }
            }
        }
    }

}

