.portfolio {
  .piece {
    margin-bottom: 15px;
    min-height: 400px;
    position: relative;
    border-bottom: 1px solid $neongreen;
    .item {
      background-repeat: no-repeat;
      background-size: cover;
      @include mobile {
        min-height: 50vh;
      }
    }
    .item-one {
      background: url("https://unsplash.it/800/?random");
    }
    .item-two {
      background: url("https://unsplash.it/800/?random");
    }
    .item-three {
      background: url("https://unsplash.it/800/?random");
    }
  }
  .piece-description {
    max-width: 40%;
    background: $background-text-blue;
    min-height: 300px;
    @include mobile {
      max-width: 100%;
      min-height: auto;
    }
    p {
      background: none;
    }
    .piece-title {
      display: inline-block;
      font-family: 'Work Sans', 'Arial', serif;
      font-size: .9rem;
      padding: 8px 12px;
      border-bottom: $neonpink 1px solid;
    }
    .blue-button {
      display: inline-block;
      margin: 10px;
    }
  }
  .tags {
    padding: 12px;
  }
}