.portfolio {
  .piece {
    margin-bottom: 15px;
    min-height: 400px;
    position: relative;
    border-bottom: 1px solid $neongreen;
    &.item-one {
      background: url("https://unsplash.it/800/?random");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &.item-two {
      background: url("https://unsplash.it/800/?random");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &.item-three {
      background: url("https://unsplash.it/800/?random");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .piece-description {
    max-width: 40%;
    background: rgba(21, 57, 90, 0.5);
    min-height: 300px;
    p {
      background: none;
    }
    .piece-title {
      display: inline-block;
      font-family: 'Space Mono';
      // font-size: .8rem;
      padding: 8px 12px;
      border-bottom: $neonpink 1px solid;
    }
    .blue-button {
      display: inline-block;
      margin: 10px;
    }
  }
  .tags {
    padding: 12px;
  }
}