section.skills {
  .description{
    max-width: 40%;
  }
  ul {
    padding: 10px 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    min-height: 200px;
    align-items: flex-start;
    align-content: flex-start;
    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: flex-start;
      justify-content: flex-start;
      min-width: 120px;
      p {
        color: white;
        line-height: 14px;
        display: inline-block;
        padding: 10px;
      }
    }
  }
}