@import "reset.scss";
@import "variables";
@import "components/_all";
@import "structure/grid/_all";
// globals
h1 {
  font-size: 5rem;
  font-family: 'Work Sans', 'Arial', serif;
  text-transform: uppercase;
  padding: 5%;
  @include mobile {
    font-size: 2.5rem;
    padding: 2%;
  }
  color: white;
  position: relative;
  max-width: 400px;
}

p {
  // font-family: 'Anonymous Pro', monospace;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  line-height: 1.3rem;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: $background-dark-blue;
  &* {
    text-decoration: none;
  }
}

body {
  background-color: $background-dark-blue;
  background-image: url("https://www.transparenttextures.com/patterns/random-grey-variations.png");
  h1, h2, h3, h4, h5, h6 {
    color: white;
  }
}

//begin custom stuff
@import "sections/_all.scss";